# Ambientes virtuais Python
.venv/
venv/
env/

# Cache e arquivos compilados
__pycache__/
*.pyc
.pytest_cache/

# Diretórios de build do PyInstaller
build/
dist/
*.spec

# Configuração e Senhas (MUITO IMPORTANTE)
config.json
.env

# Arquivos gerados durante execução
*_Flashcards.apkg
*_Relatorio.txt
